body 
{
    color:rgb(12, 41, 204);
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(238, 8, 8);
    margin: 0 auto;
}

#container h1 
{
    color:rgb(12, 41, 204);
    text-align: left;
    font-size: 20px
}